body {
  background-color: #3E4551;
  font-family:monospace;
  text-align: center;
}
a {
  text-decoration: none;
  color: white !important;
}
.jumbotron {
  color: white;
  padding: 0;
  margin-top: 50px;
  /*height: 90vh;*/
  min-height: 90vh;
  background-color: #212121 !important;
  min-width:860px;
}
.Aligner {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-by-rows {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
}
.container {
  max-width: 50%;
}
.icon {
  height:300px;
  width:300px;
}
.header {
  height: 60px;
  width: 100%;
  background-color: #00bcd4;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.createNew {
  background-color: #80deea;
  font-size: 32px;
  /*margin-bottom:10px;*/
  height:50px;
  width: 100%;
}
.createNew:hover{
  background-color: #4dd0e1;
}
.btn-wide {
  width: 70%;
}
.contentBox {
  width:860px;
  min-height: 82vh;
  background-color: white;
  color: black;
}
.boxContent {
  width: 100%;
  transition: 0.3s;
}
.head {
  padding-top: 10%;
  /*font-size: 25px;*/
}
.windowHeading {
  font-weight: 300;
  font-size:3.56rem;
  width: 70% !important;
}
.paddedText {
  text-align: left;
  padding-left: 15%;
}
.subtext {
  font-size: 12px;
  line-height: 1.1;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
.inputBox {
  width: 70% !important;
  margin-top: 30%;
}
.title {
  padding: 15px;
  font-size: 25px;
}
.login {
  /*float: right;*/
  padding-right:5px;
}
.voteButton {
  width: 70% !important;
}
.pollAggregateBox {
  vertical-align: bottom;
  height: 80px !important;
  width: 95% !important;
}
.pollBox {
  display: inline-block;
  vertical-align: bottom;
  height: 150px;
  width: 260px;
  margin: 5px;
  margin-top:10px;
  background-color: white;
  border-style: solid;
  border-color: #2196f3;
  border-width: 1px;
  border-left-width: 10px;
  color: black;
  word-wrap:break-word;
  font-size: 20px;
}
.pollBox:hover {
  border-color: #1565c0;
  background-color: #e3f2fd;
  /*border-left-width:13px;*/
}
