body {
  background-color: #3E4551;
}

.jumbotron {
  color: white;
  padding: 0;
  height: 98vh;

}
.Aligner {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: -100px;
  max-width: 40%;
}
