body {
  background-color: #3E4551;
  font-family:monospace;
}

.jumbotron {
  color: white;
  padding: 0;
  height: 98vh;
  background-color: #3E4551 !important;
}
.Aligner {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: -100px;
  max-width: 50%;
}
