<!DOCTYPE html>
<html>

<body>

  <link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css">

<div class="jumbotron text-center Aligner">
  <div class="container">
    <h1>Failed to login.</h1>
  </div>
</div>


</body>
</html>
