<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css" />


<body>

<div class="jumbotron text-center Aligner">
  <div class="container">
    <h1>Get file size</h1>
    <br />
    <form action="/file-size" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" />
    </form>
    <br />
    <p>
      Select a file and receive its size in json format.
    </p>
  </div>
</div>


</body>
</html>
