<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css" />


<body>

<div class="jumbotron text-center Aligner">
  <div class="container">
    <h3 class="col-md-12 text-center">Sign in using your Google account</h3>
<div class="col-md-12 text-center">
    <a href="/auth/google" class="undecorated-link">
        <img class="icon" src="/images/google_logo1600.png" alt="google logo"/>
    </a>
</div>
  </div>
</div>


</body>
</html>
