<!DOCTYPE html>
<html>

<body>

  <link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css">

<div class="jumbotron text-center Aligner">
  <div class="container">
    <h1>Header Parser Microservice</h1>
    <p>
      This application responds to only 1 api call at /api/whoami/
      <br />
      <br />
      A JSON object containing your IP address, language, and operating system will be returned.
    </p>
  </div>
</div>


</body>
</html>
