<!DOCTYPE html>
<html>

<body>

  <link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css">

<div class="jumbotron text-center Aligner">
  <div class="container">
    <h1>Timestamp Microservice</h1>
    <p>
      Example calls:
      <br />
      https://timestamp-service-decky.herokuapp.com/December%2015,%202015
      <br />
      https://timestamp-service-decky.herokuapp.com/1450137600
      <br />
      <br />
      Submit a get request with either a natural language date or a unix timestamp,
      receive a JSON object with both in response. If the input is invalid it will
      return nulls in the unix and natural object fields.
      <br />
      <br />
      Example response:
      <br />
      {"unix":1450137600,"natural":"Tue, 15 Dec 2015"}
    </p>
  </div>
</div>


</body>
</html>
