<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css" />

<body>

  <div class="Aligner">
    <div class="jumbotron container">
      <div class="header">
        <div class="title">
          Voting App
        </div>
        <div id="login" class="login">
          <!-- Login Placeholder -->
          <!-- Should be dynamic depending on whether user is logged in -->
          <!-- Should contain a logout button (maybe dropdown menu on the name) -->
        </div>
      </div>
      <div id="createNewPoll" class="createNew">
        Create New
        <!-- <p class="pNew">Create New</p> -->
      </div>
      <div id="renderBox">
        <!-- Placeholder's for designing -->
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
        <div class="pollBox">

        </div>
      </div>
      <!-- <h3 class="col-md-12 text-center">Sign in using your Google account</h3>
      <div class="col-md-12 text-center">
        <a href="/auth/google" class="undecorated-link">
          <img class="icon" src="/images/google_logo1600.png" alt="google logo"/>
        </a>
      </div> -->
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js" type="text/javascript"></script>
  <script src="scripts/voting.js" type="text/babel"></script>

</body>
</html>
